:root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;

      --primary-color: #B13126;
      --secondary-color: #EDE2C6;
      --ternary-color: #150B0E;
      --font-color: #150B0E;

      --border-1: 2px solid #150B0E;
      --border-2: 4px solid #150B0E;

      color: var(--font-color);
      background-color: var(--secondary-color);

      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
}    
* {margin:0;padding:0;box-sizing:border-box;}

body {
      background-color: var(--secondary-color);
}

.header {
      padding: 0 2rem;
      margin: 2rem 0 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--secondary-color);
}
.header h1 {
      font-size: 4ch;
      color: var(--font-color);
}
.header__add-task {
      display: flex;
      align-items: center;
}
.header__add-task textarea {
      height: 22px;
      max-height: 40px;
      padding: 2px 0;
      padding-inline-start: 4px;
      border-radius: 0;
      border: var(--border-1);
      border-inline-end: none;
      text-align: left;
      color: var(--font-color);
      background-color: var(--secondary-color);
}
.header__add-task textarea::placeholder {
      color: var(--font-color);
}
.header__add-task button {
      width: 20px;
      border: var(--border-1);
      border-radius: 0;
      color: var(--font-color);
      background-color: var(--secondary-color);
}

.table {
      width: 100%;
      height: auto;
      padding: 0 10px;
      display: flex;
      justify-content: space-around;
      background-color: var(--secondary-color);
}
.column {
      width: 100%;
}
.column__head {
      margin: 0 1rem;
      padding: 1rem .5rem;
      border: var(--border-2);
      border-radius: 5px;
      font-size: 3ch;
      font-weight: 600;
      line-height: 2ch;
      text-align: center;
      color: var(--font-color);
}
.column__taskList {
      margin: 1rem;
      padding: .4rem;
      list-style: none;
      border: var(--border-2);
      border-radius: 5px;
}

/* Tasks */

.task {
      width: 80%;
      border-width: 2px;
      border-style: solid;
}
.task__text {
      padding-inline-start: 5px;
}
.task__header {
      width: 100%;
      height: 15px;
}