:root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;

      --primary-color: #B13126;
      --secondary-color: #EDE2C6;
      --ternary-color: #150B0E;
      --font-color: #150B0E;

      --border-1: 2px solid #150B0E;
      --border-2: 4px solid #150B0E;

      color: var(--font-color);
      background-color: var(--secondary-color);

      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
}    
::selection {
      background-color: rgba(176, 50, 38, 0.70);
      color: var(--font-color);
}
* {margin:0;padding:0;box-sizing:border-box;list-style:none;}

body {
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--secondary-color);
}

.footer-in-every-page {
      display: block;
      width: 100%;
      text-align: center;
}
.footer-in-every-page a {
      font-size: 2ch;
      font-weight: 400;
      text-decoration: underline;
      color: var(--font-color);
}

.header {
      width: 100%;
      padding: 0 2rem;
      margin: 2rem 0 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--secondary-color);
}
.header h1 {
      font-size: 4ch;
      text-align: center;
      color: var(--font-color);
}
.header__btn {
      width: 8rem;
      height: 44px;
      margin-inline-end: calc((14rem + 46px) - 8rem); /* sums textarea and his button width */
      font-size: 2ch;
      font-weight: 600;
      border-radius: 0;
      border: var(--border-2);
      background-color: var(--secondary-color);
      transition: background-color .30s ease;
}
.header__btn:hover {
      background-color: var(--primary-color);
}
.header__add-task {
      display: flex;
      align-items: center;
}
.header__add-task textarea {
      width: 14rem;
      height: 46px;
      resize: vertical;
      padding: 7px 0;
      padding-inline: 6px;
      text-align: left;
      font-size: 1.8ch;
      border-radius: 0;
      border: var(--border-2);
      color: var(--font-color);
      background-color: var(--secondary-color);
}
.header__add-task textarea:focus {
      outline: solid 2px rgba(176, 50, 38, 0.70);
}
.header__add-task textarea::placeholder {
      color: var(--font-color);
}
.header__add-task button {
      display: grid;
      place-items: center;
      width: 46px;
      height: 46px;
      border: var(--border-2);
      border-inline-start: none;
      border-radius: 0;
      color: var(--font-color);
      background-color: var(--secondary-color);
      transition: background-color .30s ease;
}
.header__add-task button:hover {
      background-color: var(--primary-color);
}
.header__add-task button svg {
      width: 20px;
}

.table {
      width: 100%;
      height: auto;
      padding: 0 10px;
      display: flex;
      justify-content: space-around;
      background-color: var(--secondary-color);
}

.column {
      width: 100%;
}
.column__head {
      margin: 0 1rem;
      padding: 1rem .5rem;
      border: var(--border-2);
      border-radius: 5px;
      font-size: 4ch;
      font-weight: 600;
      line-height: 2ch;
      text-align: center;
      color: var(--font-color);
}
.column__taskList {
      min-height: 30vh;
      margin: 1rem;
      padding: 1rem .4rem .4rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      list-style: none;
      border: var(--border-2);
      border-radius: 5px;
}

.edit-task-modal-container {
      position: fixed;
      top: 0;
      left: 0;
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      background-color: #b13226c6;
}
.edit-task-modal-container--hide {
      visibility: hidden;
      opacity: 0;
}
.edit-task-modal-container--show {
      visibility: visible;
      opacity: 1;
}
.edit-task-modal {
      position: relative;
      background-color: var(--secondary-color);
      border: var(--border-2);
}
.edit-task-modal .color {
      width: 100%;
      height: 1.5rem;
      display: flex;
      justify-content: space-between;
      background-color: var(--primary-color);
}
.edit-task-modal .color button {
      width: 18px;
      height: 100%;
      border: none;
      cursor: default;
      transition: background-color .30s ease;
      background: transparent;
}
.edit-task-modal .color button:hover {
      background-color: var(--secondary-color);
}
.edit-task-modal__content {
      width: 26rem;
      padding: 1.5rem;
      display: grid;
      place-items: left;
}
.edit-task-modal__textarea {
      padding-block: 6px;
      padding-inline: 8px;
      text-align: left;
      font-size: 1.8ch;
      color: var(--font-color);
      border: var(--border-1);
      border-radius: 0;
      background-color: var(--secondary-color);
}
.edit-task-modal #editTaskSaveBtn {
      width: 6.6rem;
      margin-block: 0.5rem;
      height: 44px;
      font-size: 2ch;
      font-weight: 600;
      border-radius: 0;
      border: var(--border-2);
      background-color: var(--secondary-color);
      transition: background-color .30s ease;
}
.edit-task-modal button:hover {
      background-color: var(--primary-color);
}

/* Tasks */

.task {
      width: 80%;
      border-width: 2px;
      border-style: solid;
      background-color: var(--secondary-color);
}
.task__text {
      display: block;
      width: 100%;
      min-height: 3rem;
      padding-block: 6px;
      padding-inline: 12px;
      text-align: left;
      font-size: 2.3ch;
      overflow-wrap: break-word;
      background-color: var(--secondary-color);
}
.task__header {
      width: 100%;
      height: 1.6rem;
      background-color: var(--primary-color);
      border-bottom: 2px solid var(--ternary-color);
}
.task__options {
      display: block;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
}
.task__options button:first-child {
      border-right: var(--border-1);
}
.task__options:last-child button {
      border-bottom: none;
}
.task__options button {
      height: 100%;
      padding-inline: 6px;
      padding-block: 2px;
      font-size: 2ch;
      text-align: center;
      font-weight: 400;
      border-inline: none;
      border-block: var(--border-1);
      background-color: var(--secondary-color);
      transition: background-color .30s ease;
}
.task__options button:hover {
      background-color: var(--primary-color);
}
.task__options--movement {
      margin-bottom: 14px;
}

/* Home styles */

.tableList {
      list-style: none;
      width: 90%;
      background-color: var(--secondary-color);
}
.tableList .table {
      display: block;
      width: 100%;
      border: var(--border-2);
      border-radius: 4px;
      background-color: var(--secondary-color);
}
#pageContent {
      display: grid;
      place-items: center;
}