:root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;
    
      color: #150B0E;
      background-color: #EDE2C6;
    
      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
}    

.table {
      width: 100%;
      height: auto;
      padding: 0 10px;
      display: flex;
      justify-content: space-around;
}
.column {
      width: 100%;
}
.column ul {
      padding: 0;
      list-style: none;
}

/* Tasks */

.task {
      width: 80%;
      border-width: 2px;
      border-style: solid;
}
.task__text {
      padding-inline-start: 5px;
}
.task__header {
      width: 100%;
      height: 15px;
}